@model QuizSystem.Web.Areas.ArreasModels.ReportModels.ExamReportModel
@{
    this.ViewData["Title"] = Model.Name;
}
@if (Model.IsOpen)
{
    this.ViewData["Condition"] = "- Open";
}
else
{
    this.ViewData["Condition"] = "- Closed";
}
<h4 class="display-4">@Model.Name @this.ViewData["Condition"]</h4>
<div class="card">
    <div class="card-header">
        @Model.Description
    </div>
    <div class="card-body">
      
      
       <h6>Допуснати погребители до изпита</h6>
        <hr />
            @foreach (var item in Model.Users)
            {
                <p>@item</p>
            }


    </div>
    <dv class="card-footer">


    </dv>

</div>


