@model List<QuizSystem.Web.Areas.ArreasModels.ReportModels.ExamReportModel>
@{
    this.ViewData["Title"] = "Choose exam for report";
}
<h4>Exams from @this.ViewData["Username"]</h4>
<div class="row">
    @foreach (var exam in Model)
    {
        var parm = new Dictionary<string, string>
    {
                {"id",exam.Id.ToString() },
                   {"userid",this.ViewData["userId"].ToString() }

            };
        <div class="col-md-4 media">

            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-action="ByIdExamUser" asp-controller="Dashboard" asp-all-route-data="@parm">
                        @exam.Name
                    </a>
                </h5>
                @exam.Description
            </div>
        </div>
    }

</div>

