@model QuizSystem.Web.ViewModels.Questions.QuestionsViewOutputModel
@{
    this.ViewData["Title"] = $"Question {Model.Title} ";
}
<h1>@this.ViewData["Title"]</h1>

<div>
    <h3> @Model.Description</h3>  @Model.Description

</div>