@{
    ViewData["Title"] = "Choose a Role";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h4 class="media-heading"><a asp-controller="Administration" asp-action="EditUserInRole" asp-route-id="Administrator">Administrator</a></h4>
    <hr />
</div>
<div>
    <h4 class="media-heading"><a asp-controller="Administration" asp-action="EditUserInRole" asp-route-id="Moderator">Moderator</a></h4>
    <hr />
</div>