@model QuizSystem.Web.ViewModels.ExamUses.ExamUsersview
@{
    this.ViewData["Title"] = "Add user to exam";
}
<h3>@this.ViewData["Title"]</h3>
@foreach (var item in Model.examUsers)
{
    <h4 class="media-heading">@item.UserName</h4>
        }
<h3>@Model.ExamId</h3>